body {
	margin: 0;
	padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}

h1, h2 {
    color: black;
}


main {
    background-color: #ffffff;
    padding: 20px;
    margin-left: 300px;
}

section {
    margin-bottom: 20px;
}

#logGraph, #salesInfo, #reviewContent {
    height: 200px;
    border: 1px solid #dee2e6;
    padding: 10px;
}

table tr{
	height:30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 85%;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
    height:30px;
}

th{
	 background: aliceBlue;
}

table td{
	cursor:pointer;
}

#auctionTable {
 margin-top: 20px;
}

#auctionTable img {
    height: 100px;
    width: 100px;
}

table#loginTable, table#salesTable, table#inquiryTable {
    margin-top: 20px;
}
  
#modalClose{
	background: black;
	color: white;
	border-radius:5px;
	cursor:pointer;
}
  
.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
	
.modal.show {
  display: block;
}

.modal_body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 600px;
  height: 550px;
  padding: 50px 50px 150px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
  display: flex;
  flex-wrap: wrap; 
  align-items: flex-start;
  justify-content: space-between; 
}

.modal_body div{
	width:50%;
	margin-bottom: 10px;
	
}

#closeCover{
	text-align:right;
	justify-content:flex-end;
	margin: 10px 0 10px 0;
}
   
   .modalInput{
   	border: white;
   	cursor: default;
   	background: white;
   }
   
   #textBox{
   	resize:none;
   	border:white;
   	background: white;
   	overflow: scroll;
   	margin-top: 10px;
   }
   
   #textBox::-webkit-scrollbar {
	  display: none;
	}
   
   #picDiv{
   	width:250px;
   	height:250px;
   	margin: 10px 0 0 0;
   }
   
   #noData{
   	display: flex;
   	text-align: center;
   	align-items: center;
   	justify-content: center;
   	font-weight: 1000;
   }
   
   #modalGetLargePic{
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}

#picModalBody{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color:white;
	border-radius:10px;
	postion:relative;
	z-index:8;
	width: 700px;
	height: 700px;
	margin:auto;
	margin-top:4.5%;	
}

#largePic{
	width:600px;
	height:600px;
	border-radius:10px;
	margin-left: 50px;
	margin-top: 40px;
}

#largeClose{
	float: right;
	border-radius: 5px;
	color:white;
	background: black;
	margin: 2% 7% 0 0;
}

#section2{
	 width:100%;
	 margin-left:0.5%;
}

#main{
	width:70%;
}

#mainDiv{
	 display:flex;
	 flex-direction:column;
	 height:100%;
}

#section1{
	 width:100%;
	 margin-right:0.5%;
	 height:50%;
}

#sec1Div{
	height:100%;
}

#slice1{
	 height:50%;
}

#section3{
	 width:100%;
	 margin-left:0.5%;
}

#section4{
	width:100%;
	margin-right:0.5%;
}

#infoH1{
	text-align: center;
	color: white;
	background: black;
	width:600px;
	margin-top: -3%;
}